<h1>{{title}}  <i class="fa-solid fa-cog fa-spin"></i></h1>

<br>
<form action="/users" method="POST" autocomplete="off">
  <input type="hidden" name="_id" value="{{user._id}}">
    <div class="form-group">
         <lable>Full-Name</lable>
         <input type="text" class="form-control" name="fullname" placeholder="Fullname" value="{{user.fullname}}"> 
    </div>
      <br>
    <div class="form-group">
        <lable>Email</lable>
        <input type="text" class="form-control" name="email" placeholder="Email"  value="{{user.email}}">
    </div>
     <br>
     <div class="row">
         <div class="form-group col-6">
           <label>Mobile</label>
           <input type="text" class="form-control" name="contact" placeholder="Contact"   value="{{user.contact}}">
         </div>
          <div class="form-group col-6">
             <label>City</label> 
             <input type="text" class="form-control" name="city" placeholder="City"  value="{{user.city}}">
         </div>
     </div>
       <br>
       <br>
     <div class="form-group">

     <h1><button type="submit" class="btn btn-dark"><i class="fa-solid fa-database"></i> Submit</button>
       <a class="btn btn-success"  href="/list"> <i class="fa-solid fa-eye"></i> Show Users List</a></h1>
     </div>

</form>



